.currencies{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

}
.item{

}
.text{
    text-align: center;
    font-weight: 500;
    color: rgba(82, 82, 82, 0.3)
}
.currencies__list{
    margin: 20px auto;
    max-width: calc(100% - 300px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px  ;
    list-style: none;
    flex-wrap: wrap;


}


.currencies__list > li{
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: blue;
    border-radius: 20px;
    padding: 10px 40px  ;
    text-decoration: underline;
    transition: .2s linear;

}
.currencies__list > li:hover{
    text-decoration: none;
    cursor: pointer;
    color: black;
    background-color: rgba(57, 234, 239, 0.48);

}
