.table{
    margin-top: 100px;
    width: 100%;
    height: 100%;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.table__titles{
    padding: 0 20px;
    display: grid;
    grid-template-columns: 4fr 4fr;
    align-items: center;
    justify-content: space-between;
    border:1px solid #000;
}
.table__titles p{
    font-weight: 500;
}
.table__right{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 0px;
    gap:20px;
}
.right__item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.table__right p:last-child{
    margin-left: 25%;
}
.table__right p{
    font-weight: 500;
}